.achievement {
    position: absolute;
    left: 30%;
    top: 50%;
    height: 50px;
    width: 200px;
    border: solid 3px rgb(60, 93, 68);
    border-radius: 4px;
    background-color: rgb(29, 29, 29);
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}