.achievement {
    position: absolute;
    left: 30%;
    top: 50%;
    height: 50px;
    width: 200px;
    border: solid 3px var(--yellow);
    border-radius: 8px;
    background-color: var(--bg-color);
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}