@font-face {
    font-family: Typewriter;
    src: url('fonts/MonospaceTypewriter.ttf');
}

@keyframes fadeOutGreen {

    0% {
        background-color: var(--bg-color)
    }

    100% {
        background-color: var(--green)
    }

    
}

@keyframes fadeOutGrey {

    0% {
        background-color: var(--bg-color)
    }

    100% {
        background-color: var(--grey)
    }

}

@keyframes fadeOutRed {

    0% {
        background-color: var(--bg-color)
    }

    100% {
        background-color: var(--red)
    }

}

@keyframes fadeOutYellow {

    0% {
        background-color: var(--bg-color)
    }

    100% {
        background-color: var(--yellow)
    }

}

:root {
    --bg-color: rgb(29, 29, 29);
    --grey: rgb(99, 99, 99);
    --darkgrey: rgb(70, 70, 70);
    --lightgrey: rgb(125, 125, 125);
    --green: rgb(60, 93, 68);
    --lightgreen: rgb(70, 113, 68);
    --red: rgb(133, 93, 68);
    --lightred: rgb(133, 73, 68);
    --yellow: rgb(170, 170, 68);
    --lightyellow: rgb(190, 190, 68);
}

* {
    user-select: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color);
}

.container {
    color: var(--grey);
    font-size: large;
    font: 19px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, ;
    font-family: Typewriter;
}

.tabcontent {
    display: none;
}

#hzLine {
    border: 2px solid rgb(46, 46, 46);
    background: rgb(46, 46, 46);
    position: absolute;
    height: 0%;
    width: 90%;
    top: 30%;
    margin-left: 4.5%;
}

.mainTab {
    background-color: var(--bg-color);
    border-radius: 8px;
    border: 3px solid var(--green);
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font: inherit;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

#areas {
    position: absolute;
    height: 6%;
    width: 8%;
    top: 20%;
    left: 10%;
}
#areas:focus {
    background-color: var(--green);
    border: 3px solid var(--green);
    animation: fadeOutGreen 0.3s 1;
    
}


#resources {
    border: 3px solid var(--red);
    position: absolute;
    height: 6%;
    width: 8%;
    top: 20%;
    left: 20%;
}

#resources:focus {
    background-color: var(--red);
    animation: fadeOutRed 0.3s 1;
}

#achievements {
    border: 3px solid var(--yellow);
    position: absolute;
    height: 6%;
    width: 8%;
    top: 20%;
    left: 70%;
}

#achievements:focus {
    background-color: var(--yellow);
    animation: fadeOutYellow 0.3s 1;
}

#normalAch {
    background-color: var(--bg-color);
    border: 3px solid var(--lightyellow);
    position: absolute;
    height: 6%;
    width: 16%;
    top: 33%;
    left: 30%;
}

#normalAch:focus {
    background-color: var(--lightyellow);
    animation: fadeOutYellow 0.3s 1;
}

#hiddenAch {
    background-color: var(--bg-color);
    border: 3px solid var(--lightyellow);
    position: absolute;
    height: 6%;
    width: 16%;
    top: 33%;
    left: 50%;
}

#hiddenAch:focus {
    background-color: var(--yellow);
    animation: fadeOutYellow 0.3s 1;
}

#settings {
    border: 3px solid var(--grey);
    position: absolute;
    height: 6%;
    width: 8%;
    top: 20%;
    left: 80%;
}

#settings:focus {
    background-color: var(--grey);
    animation: fadeOutGrey 0.3s 1;
}


.box {
    color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    justify-self: center;
    top: 1%;
    left: -3%;
    border-radius: 20px;
    width: 120px;
    height: 120px;
    font-size: 20px;
}

.playHidden {
    animation: achNotice 2s cubic-bezier(0.08, 0.08, 0.08, 1) 0s 2 alternate;
}


@keyframes achNotice {
    0% {
        opacity: 0;
        color: rgb(29, 29, 29, 0);
        width: 0px;
        height: 0px;
        background: var(--bg-color);
    }

    25% {
        opacity: 1;
        border: 3px solid var(--bg-color);
        color: rgb(255, 255, 255, 0);
        width: 240px;
        height: 80px;
        background: var(--bg-color);
    }

    50% {
        border: 6px solid var(--darkgrey);
        color: rgb(255, 255, 255);
        width: 480px;
        height: 80px;
        background: var(--grey);
    }

    100% {
        border: 6px solid var(--darkgrey);
        color: rgb(255, 255, 255);
        width: 480px;
        height: 80px;
        background: var(--grey);
    }
}