:root {
    --g1: rgb(98, 0, 234);
    --g2: rgb(236, 64, 122);
    --green: rgb(60, 93, 68);
    --red: rgb(133, 68, 68);
    --grey: rgb(99, 99, 99);
    --bg: rgb(19, 19, 19);
    --darkgrey: rgb(70, 70, 70);
    --lightgrey: rgb(125, 125, 125);
    --lightgreen: rgb(70, 113, 68);
    --lightred: rgb(133, 96, 68);
    --yellow: rgb(170, 170, 68);
    --lightyellow: rgb(190, 190, 68);
}

* {
    user-select: none;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Typewriter;
    src: url('MonospaceTypewriter.ttf');
}

body {
    background: var(--bg);
    font-size: large;
    font: 19px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-family: Typewriter;
}

#hzLine {
    border-radius: 16px;
    position: absolute;
    height: 2px;
    width: 90%;
    top: 25%;
    margin-left: 4.5%;
    background: linear-gradient(to right, grey 25%, white 60%, grey 75%);
    background-size: 500% 100%;
    animation: hzLine 5s cubic-bezier(0.3, 0.29, 1, 1)  infinite forwards;
}

.active {
    background-size: 200%;
    overflow: hidden;
    margin: 0px;
    font-size: 100px;
}

.mainTab {
    background-color: var(--bg);
    border-radius: 8px;
    border: none;
    color: white;
    display: inline-block;
    cursor: pointer;
    font: inherit;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.tabcontent {
    display: none;
}

#areas {
    position: absolute;
    height: 6%;
    width: 8%;
    top: 15%;
    left: 10%;
    border: solid 2px var(--green);
}

#areas.active {
    background-color: var(--green);
}

#areas:hover {
  font-size: 25px;
  transition: 0.2s;
}

.areas {
    position: absolute;
    animation: dropdown 0.5s ease forwards;
    color: white;
}

#resources {
    position: absolute;
    height: 6%;
    width: 8%;
    top: 15%;
    left: 20%;
    border: solid 2px var(--red);
}

#resources.active {
    background-color: var(--red);
}

#resources:hover {
    font-size: 25px;
    transition: 0.2s;
  }

.resources {
    position: absolute;
    animation: dropdown 0.5s ease forwards;
    color: white;
}

#settings {
    position: absolute;
    height: 6%;
    width: 8%;
    top: 15%;
    left: 80%;
    border: solid 2px var(--grey);
}

#settings.active {
    background-color: var(--grey);

}

#settings:hover {
    font-size: 25px;
    transition: 0.2s;
  }

.settings {
    position: absolute;
    animation: dropdownsettings 0.5s ease forwards;
    color: white;
    background: none;
    border: solid 2px;
    border-radius: 8px;
    height: 8%;
    width: 8%;
    font-size: 22px;
    cursor: pointer;
}

#patchnotes {
    position: fixed;
    height: 75%;
    width: 50%;
    left: 25%;
    top: 10%;
    background-color: rgb(26, 26, 26);
    color: white;
    opacity: 0.98;
    display: none;
    animation: dropdownpatchnotes 0.5s ease;
    text-align: center;
    border: solid 2px white;
    border-radius: 8px;
}

@keyframes dropdown {
    0% {
        opacity: 0;
        top: 25%;
        left: 20%;
    }

    100% {
        opacity: 01;
        top: 50%;
        left: 20%
    }
}

@keyframes dropdownsettings {
    0% {
        opacity: 0;
        top: 20%;
        left: 25%;
    }

    100% {
        opacity: 1;
        top: 35%;
        left: 25%
    }
}

@keyframes dropdownpatchnotes {
    0% {
        opacity: 0;
        top: -40%;
        left: 25%;
    }

    100% {
        opacity: 0.98;
        top: 10%;
        left: 25%
    }
}

@keyframes greengradient {
    0% {
        background-color: var(--green);
    }

    50% {
        background-color: var(--lightgreen);
    }

    100% {
        background-color: var(--green);
    }
}

@keyframes redgradient {
    0% {
        color: var(--red);
    }

    50% {
        color: var(--lightred);
    }

    100% {
        color: var(--red);
    }
}

@keyframes greygradient {
    0% {
        color: grey;
    }

    50% {
        color: darkslategrey;
    }

    100% {
        color: grey;
    }
}

@keyframes gradient {
    0% {
        color: var(--g1);
    }

    50% {
        color: var(--g2);
    }

    100% {
        color: var(--g1);
    }
}

@keyframes hzLine {
    0% {
        background-position: left bottom;
    }

    100% {
        background-position: right bottom;
    }
}