:root {
    --g1: rgb(98, 0, 234);
    --g2: rgb(236, 64, 122);
    --green: rgb(60, 93, 68);
    --red: rgb(133, 93, 68);
    --grey: rgb(99, 99, 99);
    --bg: rgb(19, 19, 19);
}

* {
    user-select: none;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Typewriter;
    src: url('MonospaceTypewriter.ttf');
}

body {
    background: var(--bg);
    font-size: large;
    font: 19px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-family: Typewriter;
}

#hzLine {
    border-radius: 16px;
    position: absolute;
    height: 2px;
    width: 90%;
    top: 25%;
    margin-left: 4.5%;
    background: linear-gradient(to right, grey 25%, white 60%, grey 75%);
    background-size: 500% 100%;
    animation: hzLine 5s linear infinite forwards;
}

.active {
    background-size: 200%;
    overflow: hidden;
    margin: 0px;
    font-size: 100px;
    animation: gradient 10s ease infinite forwards !important;
    background: none !important;
}

.mainTab {
    background-color: var(--bg, 0%);
    border: 0px;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: white;
    font: inherit;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.tabcontent {
    display: none;
}

#areas {
    position: absolute;
    height: 6%;
    width: 8%;
    top: 15%;
    left: 10%;
}

#areas:hover {
  font-size: 25px;
  transition: 0.2s;
}

.areas {
    position: absolute;
    animation: dropdown 0.5s ease forwards;
    color: white;
}

#resources {
    position: absolute;
    height: 6%;
    width: 8%;
    top: 15%;
    left: 20%;
}

#resources:hover {
    font-size: 25px;
    transition: 0.2s;
  }

.resources {
    position: absolute;
    animation: dropdown 0.5s ease forwards;
    color: white;
}

#settings {
    position: absolute;
    height: 6%;
    width: 8%;
    top: 15%;
    left: 80%;
}

#settings:hover {
    font-size: 25px;
    transition: 0.2s;
  }

.settings {
    position: absolute;
    animation: dropdown 0.5s ease forwards;
    color: white;
}

@keyframes dropdown {
    0% {
        opacity: 0;
        top: 25%;
        left: 20%;
    }

    100% {
        opacity: 1;
        top: 50%;
        left: 20%
    }
}

@keyframes gradient {
    0% {
        color: var(--g1);
    }

    50% {
        color: var(--g2);
    }

    100% {
        color: var(--g1);
    }
}

@keyframes hzLine {
    0% {
        background-position: left bottom;
    }

    100% {
        background-position: right bottom;
    }
}